	.mediaViewInfo {
		--web-view-name: envialogin;
		--web-view-id: envialogin;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: envialogin;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#page-container{
		position:relative;
		min-height: 100vh;
	}
	#page-container:after {
		content: "";
		display: block;
		height: 100px; /* the footer's total height */
	}
	#header {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100px;
		background-color: rgba(2,55,107,1);
		overflow: hidden;
		float: left;
	}
	#body-container {
		position: absolute;
		width: 100%;
		text-align: center;
		margin-top:10%;
	}
	#footer {	
		position:absolute;
		width:100%;
		height:100px;   /* Height of the footer */
		background-color: rgba(2,55,107,1);
	}
	#logo {
		position: absolute;
		width: 200px;
		height: 200px;
		left: 15%;
		top: -55px;
		overflow: hidden;	
	}
	#footer-details {
		margin-left:auto;
		margin-right:auto;
		top: 25px;
		width: 100%;
		position: absolute;
		overflow: hidden;
		white-space: nowrap;
		text-align: center;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 11px;
		color: rgba(255,255,255,1);
	}
	#login-container {
		width: 600px;
		height: 521px;	
		position: absolute;
		top:15%;
		bottom: 5;
		left: 50%;
		right: 50%;
		margin: 0 0 0 -295px;		
	}
	#register-container {
		width: 1200px;
		height: 700px;	
		position: absolute;
		top:10%;
		bottom: 5;
		left: 50%;
		right: 50%;
		margin: 0 0 0 -600px;
	}
	.form-container {
		border : 1px solid #E2E2E2;
		background-color:#F6FBFF;
		text-align: center;
		border-radius: 7px;
	}
	.module-container{
		position: relative;
		background-color: #f0f3f7;
		border : 1px solid  #CAD5E2;
		border-radius: 8px;
		width: 1000px;
		top: 300px;
		margin-bottom: 30px;
		left: 50%;
		margin-left: -500px;
	}
	#register-left-subcontainer {
		width: 800px;
		height: 700px;	
		position: absolute;
		bottom: 5;
		overflow-y: auto;
		overflow-x: hidden;
	}
	#register-right-subcontainer {
		width: 400px;
		height: 521px;	
		position: absolute;
		left: 66%;
		bottom: 5;	
	}
	#PCO {
		position: absolute;
		top: 32px;
		overflow: hidden;
		width: 100%;
		white-space: nowrap;
		text-align: center;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(112,112,112,1);
		display: block;
	}
	#ID40-hour_Basic_Pollution_Cont {
		position: absolute;
		overflow: hidden;
		top: 75px;
		width: 100%;
		white-space: nowrap;
		text-align: center;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		color: rgba(112,112,112,1);
		display: block;
	}
	#registration-reminder {
		position: absolute;
		overflow: hidden;
		top: 100px;
		width: 100%;
		white-space: nowrap;
		text-align: justify;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(112,112,112,1);
		display: block;
		left: 10%;
	}
	.registration-label{
		position: absolute;
		overflow: hidden;
		width: 100%;
		white-space: nowrap;
		text-align: justify;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(112,112,112,1);
		display: block;
	}
	#participant-name-label{
		margin-left: 3%;
		top: 100px;
	}
	#login-info-label{
		margin-left: 3%;
		top: 200px;
	}
	#date-of-birth-label{
		margin-left: 3%;
		top: 380px;
	}
	#miscellaneous-label{
		margin-left: 3%;
		top: 360px;
	}
	#present-address-label{
		margin-left: 3%;
		top: 505px;
	}
	#contact-details-label{
		margin-left: 3%;
		top: 695px;
	}
	#employment-label{
		margin-left: 3%;
		top: 810px;
	}
	#receipt-label{
		margin-left: 3%;
		top: 1000px;
	}
	#generic-picker{
		width: 100%;
		height: 45px;
		font-family: Segoe UI;
		font-size: 16px;	
	}
	.form-wrapper-outer{
		padding: 4px;
        border-radius: 8px;
        margin: auto;
        width: 460px;
		margin-top: 35%;
	}
	.nob-wrapper-outer{
		padding: 4px;
        border-radius: 8px;
		float: left;
		width: 700px;
		margin-left: 2%;
		margin-bottom: 30px
	}
	.address-wrapper-outer{
		padding: 4px;
        border-radius: 8px;
		float: left;
		width: 700px;
		margin-top: 5%;
		margin-left: 2%;
	}
	.radio-field-wrapper{
		margin-left: 5%;
	}
	.dietaryrestriction-wrapper-outer{
		font-family: Segoe UI;
		text-align: left;
		padding: 4px;
        border-radius: 8px;
		float: left;
		width: 700px;
		margin-top: -0.5%;
		margin-left:12px;
	}
	.issubscribe-wrapper-outer{
		font-family: Segoe UI;
		text-align: left;
		padding: 4px;
        border-radius: 8px;
		float: left;
		width: 700px;
		margin-top: -0.5%;
		margin-left:12px;
		margin-bottom:12px;
	}
	.wheredidyoulearn-wrapper-outer{
		font-family: Segoe UI;
		text-align: left;
		padding: 4px;
        border-radius: 8px;
		float: left;
		width: 700px;
		margin-top: 5%;
		margin-left:12px;
	}
	.companyaddress-wrapper-outer{
		padding: 4px;
        border-radius: 8px;
		float: left;
		width: 700px;
		margin-top: 2px;
		margin-left: 2%;
	}
	.address-wrapper-outer2{
		padding: 4px;
        border-radius: 8px;
		float: left;
		width: 460px;
		margin-left: 2%;
	}
	.address-wrapper-outer3{
		padding: 4px;
        border-radius: 8px;
		float: left;
		width: 220px;
		margin-left: 2%;
		margin-bottom: 50px;
	}
	.name-wrapper-outer{
		padding: 4px;
        border-radius: 8px;
        width: 230px;
		float: left;
		margin-left: 2%;
		margin-top: 17%;
		margin-bottom: 35px;
	}
	.designation-wrapper-outer{
		padding: 4px;
        border-radius: 8px;
        width: 230px;
		float: left;
		margin-left: 2%;
		margin-top: 17%;
		margin-bottom: 2px;
	}
	.username-wrapper-outer{
		padding: 4px;
        border-radius: 8px;
        width: 480px;
		margin-left: 2%;
	}
	.password-wrapper-outer{
		padding: 4px;
        border-radius: 8px;
        width: 230px;
		float: left;
		margin-left: 2%;
		margin-bottom: 10px;
	}
	.password2-wrapper-outer{
		padding: 4px;
        border-radius: 8px;
        width: 230px;
		float: left;
		margin-left: 2%;
		margin-bottom: 10px;
		margin-right: 150px;
	}
	.officenumber-wrapper-outer{
		padding: 4px;
        border-radius: 8px;
        width: 230px;
		float: left;
		margin-left: 2%;
		margin-bottom: 2px;
	}
	.dob-wrapper-outer{
		padding-top: 45px;
        border-radius: 8px;
        width: 150px;
		margin-left: 2%;
		float: left;
		margin-bottom: 10px;
	}
	.contact-wrapper-outer, .email-wrapper-outer{
		padding: 4px;
        border-radius: 8px;
		float: left;
		width: 230px;
		margin-left: 2%;
		margin-bottom: 50px;
	}
	.imageupload-wrapper-outer{
		padding: 4px;
		border: 1px solid #E2E2E2;
		float: left;
		width: 460px;
		padding: 9px 20px;
		margin-left: 1%;
		text-align: left;
		font-size: 18px;
		font-family: Segoe UI;
	}

    .form-button{
        text-align: right;
    }
    .field-wrapper{
        position: relative;
        margin-bottom: 15px;
	}		
	.month-wrapper{
		border: 1px solid #E2E2E2;
		margin-bottom: 15px;
		margin-left: 3%;
	}
    .wheredidyoulearn-wrapper{
		text-align: l;
		border: 1px solid #E2E2E2;
		margin-bottom: 1px;
		margin-left: 1%;
	}
	select {
		padding:0px 15px;
	}
	.nob-wrapper{
		border: 1px solid #E2E2E2;
		margin-bottom: 35px;
	}
    .field-wrapper input{
        border: 1px solid #E2E2E2;
        padding: 15px;
        border-radius: 7px;
        width: 100%;
	}
	.month-wrapper input{
        border: 1px solid #E2E2E2;
        padding: 15px;
        border-radius: 7px;
        width: 100%;
	}
	.uploadfile-placeholder{
		border: 1px solid #E2E2E2;
		background-color: green;
		font-size: 16px;
		position: absolute;
		font-family: Segoe UI;
		bottom: 17px;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		color: #AFACAC;
		left: 8px;
		padding: 0 8px;
		width: 100%;
	}
	.field-wrapper .field-placeholder{
	font-size: 16px;
	position: absolute;
	font-family: Segoe UI;
	bottom: 17px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #AFACAC;
	left: 8px;
	padding: 0 8px;
	-webkit-transition: transform 1500ms cubic-bezier(0.4,0,0.2,1),opacity 150ms cubic-bezier(0.4,0,0.2,1);
	transition: transform 150ms cubic-bezier(0.4,0,0.2,1),opacity 150ms cubic-bezier(0.4,0,0.2,1);
	z-index: 1;
	text-align: left;
	width: 100%;
	}
	.field-wrapper .field-placeholder span{
	padding: 0px 8px;
	}
	.field-wrapper input:not([disabled]):focus~.field-placeholder{
	color:#055FB7;
	}
	.field-wrapper input:not([disabled]):focus~.field-placeholder,
	.field-wrapper.hasValue input:not([disabled])~.field-placeholder{
	-webkit-transform: scale(.75) translateY(-39px) translateX(-60px);
	transform: scale(.75) translateY(-39px) translateX(-60px);
	}
	
	.login-button {
		background-color: #02376B;/* #055FB7; /* blue #4CAF50; /* Green */
		border: none;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		border-radius: 7px;
	}
	.register-button {
		background-color: #f0f3f7;/* #055FB7; /* blue #4CAF50; /* Green */ 
		border: 1px solid black;
		color: black;
		font-family: Arial, Helvetica, sans-serif;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		border-radius: 7px;
	}
	.upload-button {
		border: 1px solid #02376B;
		background-color: #F6FBFF;
		color: rgba(112,112,112,1);
		font-family: Segoe UI;
		padding: 10px 20px;
		text-align: center;
		float:left;
		font-size: 16px;
		border-radius: 7px;
		margin-left: 3%
	}

	.submit-button {
		background-color: #02376B;/* #055FB7; /* blue #4CAF50; /* Green */
		border: none;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		border-radius: 7px;
		right: 0;
	}
	.banner-container{
		position: absolute;
		float: left;
		width: 100%;
		height: 120px;
		background-color: #B9E6FF;
		top: 100px;
		display: block;
	}
	#welcome-label{
		position: absolute;
		float: left;
		white-space: nowrap;
		position: absolute;
		overflow: hidden;
		text-align: justify;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(112,112,112,1);
		display: block;
		bottom:0;
		margin-bottom: 10px;
	}
	.welcome-menu-label{
		float: left;
		white-space: nowrap;
		overflow: hidden;
		text-align: justify;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		color: rgba(112,112,112,1);
		display: block;
		bottom:0;
		margin-bottom: 10px;
		padding-right: 15px;
	}
	.welcome-container{
		position: absolute;
		width: 1000px;
		height: 100%;
		left: 50%;
		margin-left: -500px;	
		display: block;
	}
	.welcome-menu-container{
		position: absolute;
		width: 400px;
		height: 20%;
		right:0;
		bottom: 0;
		display: block;
	}
	.module-title-label{
		white-space: nowrap;
		text-align: justify;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		color: rgba(112,112,112,1);
		display: block;
		margin-top: 24px;
		margin-left: 50px;
		margin-bottom: 25px;
	}

	.topic-title-label{
		white-space: nowrap;
		text-align: justify;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(112,112,112,1);
		display: block;
		margin-top: 10px;
		margin-left: 30px;
		margin-bottom: 15px;
	}
	
	.topics-container{
		width: 80%;
		margin-left: 50px;
	}
	.topic-button {
		background-color: #92DCE5;
		color: #02376B;
		padding: 3px 5px;
		text-align: center;
		text-decoration: none;
		font-size: 12px;
		border-radius: 7px;
		float:left;
		margin-right: 10px;
	}

	.topic-button-container{
		float:left;
		text-align: left;
	}
	.topic-button:hover {
		background-color: #3ABECF;
		color: white;
	}
	.topic-button:active {
		background-color: #2CA5B5;
		box-shadow: 0 5px #666;
		transform: translateY(1px);
		border: none;
	}
