	.mediaViewInfo {
		--web-view-name: envialogin;
		--web-view-id: envialogin;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: envialogin;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	
	#page-container {
	  position: relative;
	  min-height: 100vh;
	  overflow: hidden;
	}
	
	#header {
		position: absolute;
		width: 100%;
		height: 90px;
		background-color: rgba(2,55,107,1);
		overflow: hidden;
		--web-view-name: header;
		--web-view-id: header;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
		top: 0;
	}
	#logo {
		position: absolute;
		width: 200px;
		height: 200px;
		left: 25%;
		top: -55px;
		overflow: hidden;
		
	}

	#page-container {
	  position: relative;
	  min-height: 100vh;
	}	
	#footer {
		margin:0 auto;
		width: 100%;
		height: 100px;
		overflow:hidden;
		position: absolute;
		bottom: 0;

		background-color: rgba(2,55,107,1);
		--web-view-name: footer;
		--web-view-id: footer;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	#footer-details {
		margin-left:auto;
		margin-right:auto;
		top: 25px;
		width: 100%;
		position: absolute;
		overflow: visible;
		white-space: nowrap;
		text-align: center;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 11px;
		color: rgba(255,255,255,1);
	}
	
	/***************** Login Style Start*******************/
	#login {
		position: fixed;
		margin-top: 90px;
		margin-bottom: 90px;
		width: 100%;
		height: 100%;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		text-align: center;
		padding-bottom: 100px;
		--web-view-name: login;
		--web-view-id: login;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	#login-container {
		width: 600px;
		height: 521px;
		border : 1px solid #E2E2E2;
		background-color: #F6FBFF;	
		position: absolute;
		top:15%;
		bottom: 5;
		left: 50%;
		right: 50%;
		margin: 0 0 0 -295px;		
		text-align: center;
		border-radius: 7px;
	}
	#PCO {
		position: absolute;
		top: 32px;
		overflow: hidden;
		width: 100%;
		white-space: nowrap;
		text-align: center;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(112,112,112,1);
		display: block;
	}
	#ID40-hour_Basic_Pollution_Cont {
		position: absolute;
		overflow: hidden;
		top: 75px;
		width: 100%;
		white-space: nowrap;
		text-align: center;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		color: rgba(112,112,112,1);
		display: block;
	}
	.form-wrapper-outer{
		padding: 4px;
        border-radius: 8px;
        margin: auto;
        width: 460px;
        margin-top: 35%;
    }
    .form-button{
        text-align: right;
    }
    .field-wrapper{
        position: relative;
        margin-bottom: 25px;
    }		
    .field-wrapper input{
        border: 1px solid #E2E2E2;
        padding: 15px;
        border-radius: 7px;
        width: 100%;
    }
	.field-wrapper .field-placeholder{
	font-size: 16px;
	position: absolute;
	font-family: Segoe UI;
	bottom: 17px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #C9C9C9;
	left: 8px;
	padding: 0 8px;
	-webkit-transition: transform 1500ms cubic-bezier(0.4,0,0.2,1),opacity 150ms cubic-bezier(0.4,0,0.2,1);
	transition: transform 150ms cubic-bezier(0.4,0,0.2,1),opacity 150ms cubic-bezier(0.4,0,0.2,1);
	z-index: 1;

	text-align: left;
	width: 100%;
	}
	.field-wrapper .field-placeholder span{
	padding: 0px 8px;
	}
	.field-wrapper input:not([disabled]):focus~.field-placeholder{
	color:#055FB7;
	}
	.field-wrapper input:not([disabled]):focus~.field-placeholder,
	.field-wrapper.hasValue input:not([disabled])~.field-placeholder{
	-webkit-transform: scale(.75) translateY(-39px) translateX(-60px);
	transform: scale(.75) translateY(-39px) translateX(-60px);
	}
	.login-button {
		background-color: #02376B;/* #055FB7; /* blue #4CAF50; /* Green */
		border: none;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		border-radius: 7px;
	}
	/***************** Login Style END*******************/