{% load static %}
<script>
	$(function () {
		$(".field-wrapper .field-placeholder").on("click", function () {
			$(this).closest(".field-wrapper").find("input").focus();
		});
		$(".field-wrapper input").on("keyup", function () {
			var value = $.trim($(this).val());
			if (value) {
				$(this).closest(".field-wrapper").addClass("hasValue");
			} else {
				$(this).closest(".field-wrapper").removeClass("hasValue");
			}
		});

	});

    function uploadFile(target) {
	    document.getElementById("file-name").innerHTML = target.files[0].name;
    }

</script>
<div id="body-container">
    <div class="form-container" id="register-container">
        <div id="register-left-subcontainer">
            <div id="PCO">
                <span>COMPLETE THE FORM BELOW</span>
            </div>
            <form action="final_register" method="post">
                {% csrf_token %}	
                <div class="registration-label" id="participant-name-label">
                    <span>Office Information</span>
                </div>
                <div class="designation-wrapper-outer">
                    <div class="field-wrapper">
                        <input type="designation" name="designation" id="designation" required>
                        <div class="field-placeholder"><span>Designation</span></div>
                    </div>                   
                 </div>
                <div class="companyaddress-wrapper-outer">
                    <div class="field-wrapper">
                        <input type="company_address" name="company_address" id="company_address" required>
                        <div class="field-placeholder"><span>Company Address</span></div>
                    </div>                   
                 </div>
                 <div class="officenumber-wrapper-outer">
                    <div class="field-wrapper">
                        <input type="office_number" name="office_number" id="office_number" required>
                        <div class="field-placeholder"><span>Office Number</span></div>
                    </div>                 
                 </div>
                <div class="registration-label" id="miscellaneous-label">
                    <span>Miscellaneous</span>
                </div>   
                <div class="wheredidyoulearn-wrapper-outer">
                    &nbsp;&nbsp;&nbsp;Where did you learn about Envia Consultancy, Inc. and its service offerings?
                    <div class="wheredidyoulearn-wrapper">
                        <select name="where_did_you_learn" id="generic-picker" required>
                        <option value="1">ELECTRONIC MEDIA (website, Facebook, email invitation etc.)</option>
                        <option value="2">FRIENDS/REFERRALS (personal friends, colleagues at work etc.)</option>
                        <option value="3">DIRECT INQUIRY</option>
                        <option value="4">Other</option>
                    </select>
                    </div> 
                </div>             
                <div class="dietaryrestriction-wrapper-outer">
                    &nbsp;&nbsp;&nbsp;Do you have dietary restrictions? If yes, please specify.
                    <div class="field-wrapper">
                        <input type="dietary_restrictions" name="dietary_restrictions" id="dietary_restrictions" required>
                        <div class="field-placeholder"><span></span></div>
                    </div>
                </div>
                <div class="issubscribe-wrapper-outer">
                    &nbsp;&nbsp;&nbsp;I consent Envia Consultancy, Inc. sending me details of future training programs via email. 
                    <div class="radio-field-wrapper">
                        <input type="radio" id="yes" name="is_subscribe" value="True" required>  
                        <label for="yes">Yes</label><br>
                        <input type="radio" id="no" name="is_subscribe" value="False">
                        <label for="no">No</label><br>
                        <div class="field-placeholder"><span></span></div>
                    </div>                
                </div>
                <div class="issubscribe-wrapper-outer">
                    &nbsp;&nbsp;&nbsp;I consent Envia Consultancy, Inc. to include my details in the directory of participants to be distributed to other participants in the training program.
                    <div class="radio-field-wrapper">
                        <input type="radio" id="yes" name="is_included_in_directory" value="True" required>
                        <label for="yes">Yes</label><br>
                        <input type="radio" id="no" name="is_included_in_directory" value="False">
                        <label for="no">No</label><br>
                        <div class="field-placeholder"><span></span></div>
                    </div>                
                </div> 
                <br>
                <div style="float: right; margin-top: 9%; margin-right: 10%; margin-bottom: 30px;">
                    <input type="submit" value="Submit" class="submit-button">
                </div>
                
            </form>
        </div>
        <div id="register-right-subcontainer">
            <div id="registration-reminder">
            If you wish to participate in the 40-hour Basic</br>
            Pollution Control Officer Training offered by </br>
            Envia Consultancy, Inc., kindly accomplish this</br>
            registration form.</br></br>
            

            For payments, please make check payable to:</br></br></br>
            <b>Envia Consultancy, Inc. </b> </br>
            Checking Account No.: 0712-1042-79</br>
            Landbank of the Philippines</br>
            Sugar Regulatory Administration Bldg.</br>
            North Avenue, Diliman, Quezon City</br>
        </br></br></br>
            Once payment has been made, please attach a </br>
            scanned copy of the deposit slip in this form</br>
            for validation. Please wait for a confirmation </br>
            e-mail once registration is successful.</br>
            </div>
        </div>
    </div>
    
</div>