{% load static %}

<footer id="footer">
	<div id="footer-details">
		<span>27F Mayaman St., UP Village, Quezon City, Philippines, 1101<br/>envia.planners@gmail.com<br/>+(02) 8 247 3477  |  +(02) 7 623 4495  | +(63) 917 178 1064  |  +(63) 919 007 4360<br/>© 2020 Envia Consultancy, Inc. All Rights Reserved. </span>
	</div>
<footer>