{% load static %}
<div class="banner-container">
    <div class="welcome-container">
    <div id="welcome-label">
        <span>Welcome!</span>
    </div>
    </div>
    <div class="welcome-menu-container">
        <div class="welcome-menu-label">
            <span><p>Dashboard</span>
        </div>
        <div class="welcome-menu-label">
            <span> | </span>
        </div>
        <div class="welcome-menu-label">
            <span><p>Profile</span>
        </div>
        <div class="welcome-menu-label">
            <span> | </span>
        </div>
        <div class="welcome-menu-label">
        {% if request.user %}
            <span><p><a href="{% url 'logout_view' %}">Log out</a</span>
        {% endif%}        
        </div>
    </div>
</div>