{% load static %}
<script>
	$(function () {
		$(".field-wrapper .field-placeholder").on("click", function () {
			$(this).closest(".field-wrapper").find("input").focus();
		});
		$(".field-wrapper input").on("keyup", function () {
			var value = $.trim($(this).val());
			if (value) {
				$(this).closest(".field-wrapper").addClass("hasValue");
			} else {
				$(this).closest(".field-wrapper").removeClass("hasValue");
			}
		});

	});
</script>
<div id="body-container">
	<div class="form-container" id="login-container">
		<div id="PCO">
			<span>ONLINE POLLUTION CONTROL OFFICER TRAINING</span>
		</div>
		<div id="ID40-hour_Basic_Pollution_Cont">
			<span>40-hour Basic Pollution Control Officer (PCO) Training</span>
		</div>
		<div class="form-wrapper-outer">
			<form action="login" method="post">
				{% csrf_token %}	
				<div class="field-wrapper">
					<input type="username" name="username" id="username">
					<div class="field-placeholder"><span>Enter your username</span></div>
				</div>
				<div class="field-wrapper">
					<input type="password" name="password" id="password">
					<div class="field-placeholder"><span>Enter your password</span></div>
				</div>
				<div style="padding: 25px 50px 25px;">
					{% for message in messages %}
					<p style="color: red; font-family: Arial, Helvetica, sans-serif; font-weight: bold;"> {{message}}</p>
					{% endfor %}
				</div>
				<div id='button-container'>
					<div class="form-button" style="float: left;">
						<a href="register" class="register-button">Register</a>
					</div>
					<div class="form-button" style="float: right;">
						<input type="submit" value="Sign In" class="login-button">
					</div>
				</div>
			</form>
    	</div>
	</div>
</div>