{% load static %}
<script>
	$(function () {
		$(".field-wrapper .field-placeholder").on("click", function () {
			$(this).closest(".field-wrapper").find("input").focus();
		});
		$(".field-wrapper input").on("keyup", function () {
			var value = $.trim($(this).val());
			if (value) {
				$(this).closest(".field-wrapper").addClass("hasValue");
			} else {
				$(this).closest(".field-wrapper").removeClass("hasValue");
			}
		});

	});

    function uploadFile(target) {
	    document.getElementById("file-name").innerHTML = target.files[0].name;
    }

    function patatas(){
            console.log('Button 1 was clicked');
    }
</script>

{%include 'homebanner.html' %}

{% for object in modules %}
<div class="module-container">
<div class="module-title-label">
    <span>{{ object.module_title }}</span>
</div>
<div class="topics-container">
        {% for topic in topics%}     
        <div class="topic-wrapper">  
            {% if topic.module_fkid_id == object.module_id%} 
            <input type="submit" id="button1" value="Launch" class="topic-button" onclick="patatas()">
            <div class="topic-title-label">  
                <span>{{ topic.topic_title }}</span>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endfor %}



<!--
{%include 'homebanner.html' %}
<script>console.log("tae")</script>
{% for object in modules %}
<div class="module-container">
    <div class="module-title-label">
        <span>{{ object.module_title }}</span>
    </div>
    <div class="topics-container">
        {% for topic in topics%}
        <div class="topic-wrapper">   
            {% if topic.module_fkid_id == object.module_id%} 
            <input type="submit" id="button1" value="Launch" class="topic-button" onclick="patatas()">
            <div class="topic-title-label">              
                <span>{{topic.module_fkid_id}} ATSAKA {{ topic.topic_title }}</span>
            {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endfor %}



