{% load static %}
    {% if username is None %}
        <div id="body-container">
            <br><br><br><br><br>
        <h1>NO SESSION!</h1>
        </div>
    {% else %}
        <div class="banner-container">
            <div class="welcome-container">
            <div id="welcome-label">
                <span>Welcome!</span>
            </div>
            </div>
            <div class="welcome-menu-container">
                <div class="welcome-menu-label">
                    <span><p>Dashboard</span>
                </div>
                <div class="welcome-menu-label">
                    <span> | </span>
                </div>
                <div class="welcome-menu-label">
                    <span><p>Profile</span>
                </div>
                <div class="welcome-menu-label">
                    <span> | </span>
                </div>
                <div class="welcome-menu-label">
                {% if request.user %}
                    <span><p><a href="{% url 'logout_view' %}">Log out</a</span>
                {% endif%}   
                </div>
            </div>
        </div>
        <div id="body-container">
            <br><br><br><br><br>
        <h1>NOT VERIFIED! WAIT FOR EMAIL!</h1>
        </div>
    {% endif %}