{% load static %}
<script>
	$(function () {
		$(".field-wrapper .field-placeholder").on("click", function () {
			$(this).closest(".field-wrapper").find("input").focus();
		});
		$(".field-wrapper input").on("keyup", function () {
			var value = $.trim($(this).val());
			if (value) {
				$(this).closest(".field-wrapper").addClass("hasValue");
			} else {
				$(this).closest(".field-wrapper").removeClass("hasValue");
			}
		});

	});

    function uploadFile(target) {
	    document.getElementById("file-name").innerHTML = target.files[0].name;
    }

    function checkPassword(){
        var password = document.getElementById("password");
        var password2 = document.getElementById("password2");
        var n = password.localeCompare(password2);
        if (n != 0){
            document.getElementById('errors').innerHTML = 'Password not matching!';
            return false
        }        
    }

</script>
<div id="body-container">
    <div class="form-container" id="register-container">
        <div id="register-left-subcontainer">
            <div id="PCO">
                <span>REGISTRATION FORM</span>
            </div>
            <form action="register" method="post">
                {% csrf_token %}	
                <div class="registration-label" id="participant-name-label">
                    <span>Name of Participant</span>
                </div>
                <div class="name-wrapper-outer">
                    <div class="field-wrapper">
                        <input type="first_name" name="first_name" id="first_name" required>
                        <div class="field-placeholder"><span>First Name</span></div>
                    </div>                   
                 </div>
                 <div class="name-wrapper-outer">
                    <div class="field-wrapper">
                        <input type="middle_name" name="middle_name" id="middle_name" required>
                        <div class="field-placeholder"><span>Middle Name</span></div>
                    </div>                   
                 </div>
                <div class="name-wrapper-outer">
                    <div class="field-wrapper">
                        <input type="last_name" name="last_name" id="last_name" required>
                        <div class="field-placeholder"><span>Last Name</span></div>
                    </div>
                </div>
                <div class="registration-label" id="login-info-label">
                    <span>Login Information</span>
                </div>
                <div class="username-wrapper-outer">
                    <div class="field-wrapper">
                        <input type="username" name="username" id="username" required>
                        <div class="field-placeholder"><span>username</span></div>
                    </div>                   
                 </div>
                 <div class="password-wrapper-outer">
                    <div class="field-wrapper">
                        <input type="password" name="password" id="password" required>
                        <div class="field-placeholder"><span>Password</span></div>
                    </div>                 
                 </div>
                 <div class="password2-wrapper-outer">
                    <div class="field-wrapper">
                        <input type="password" name="password2" id="password2" required>
                        <div class="field-placeholder"><span>Confirm Password</span></div>
                    </div>                 
                 </div>
                 <div><p id="errors"></p></div>
                <div class="registration-label" id="date-of-birth-label">
                    <span>Birthdate</span>
                </div>
                <div class="dob-wrapper-outer">
                    <div class="month-wrapper">
                        <select name="month" id="generic-picker" required>
                            <option value="">Month</option>
                            <option value="1">January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                    </div> 
                </div>
                <div class="dob-wrapper-outer">
                    <div class="field-wrapper">
                        <input type="day" name="day" id="day" required>
                        <div class="field-placeholder"><span>Day</span></div>
                    </div>    
                </div>
                <div class="dob-wrapper-outer">
                    <div class="field-wrapper">
                        <input type="year" name="year" id="year" required>
                        <div class="field-placeholder"><span>Year</span></div>
                    </div>   
                </div>
                <div class="registration-label" id="present-address-label">
                    <span>Present Address</span>
                </div>
                <div class="address-wrapper-outer">
                    <div class="field-wrapper">
                        <input type="address1" name="address1" id="address1" required>
                        <div class="field-placeholder"><span>Unit/Floor/House No. Barangay</span></div>
                    </div>
                </div>
                <div class="address-wrapper-outer2">
                    <div class="field-wrapper">
                        <input type="municipality" name="municipality" id="municipality" required>
                        <div class="field-placeholder"><span>Municipality</span></div>
                    </div>
                </div>
                <div class="address-wrapper-outer3">
                    <div class="field-wrapper">
                        <input type="province" name="province" id="province" required>
                        <div class="field-placeholder"><span>Province</span></div>
                    </div>                   
                 </div>
                 <div class="registration-label" id="contact-details-label">
                    <span>Contact Details</span>
                </div>
                <div class="contact-wrapper-outer">
                    <div class="field-wrapper">
                        <input type="contact" name="contact" id="contact" required>
                        <div class="field-placeholder"><span>Contact #</span></div>
                    </div>
                </div>
                <div class="email-wrapper-outer">
                    <div class="field-wrapper">
                        <input type="email" name="email" id="email" required>
                        <div class="field-placeholder"><span>Email</span></div>
                    </div>
                </div>
                <div class="registration-label" id="employment-label">
                    <span>Employment/Affiliation</span>
                </div>
                <div class="address-wrapper-outer2">
                    <div class="field-wrapper">
                        <input type="establishment" name="establishment" id="establishment" required>
                        <div class="field-placeholder"><span>Name of Establishment</span></div>
                    </div>
                </div>
                <div class="nob-wrapper-outer">
                    <div class="nob-wrapper">
                        <select name="nob" id="generic-picker" required>
                            <option value="">Nature of Business</option>
                            <option value="A">Agriculture, forestry and fishing </option>
                            <option value="B">Mining and quarrying </option>
                            <option value="C">Manufacturing</option>
                            <option value="D">Electricity, gas, steam and air-conditioning supply </option>
                            <option value="E">Water supply, sewerage, waste management and remediation activities </option>
                            <option value="F">Construction</option>
                            <option value="G">Wholesale and retail trade; repair of motor vehicles and motorcycles </option>
                            <option value="H">Transportation and storage </option>
                            <option value="I">Accommodation and food service activities</option>
                            <option value="J">Information and communication </option>
                            <option value="K">Financial and insurance activities </option>
                            <option value="L">Real estate activities </option>
                            <option value="M">Professional, scientific and technical services</option>
                            <option value="N">Administrative and support service activities</option>
                            <option value="O">Public administrative and defense; compulsory social security </option>
                            <option value="P">Education</option>
                            <option value="Q">Human health and social work activities</option>
                            <option value="R">Arts, entertainment and recreation</option>
                            <option value="S">Other service activities </option>
                            <option value="T">Activities of private households as employers and undifferentiated goods and services and producing activities of households for own use </option>
                            <option value="U">Activities of extraterritorial organizations and bodies </option>
                        </select>
                    </div>
                </div>
                <div class="registration-label" id="receipt-label">
                    <span>Upload Receipt</span>
                </div>                   
                    
                        <input type="file" id="img" name="img" accept="image/*" onchange='uploadFile(this)' style="display: none;"/>
                        <input type="button" class="upload-button" value="Browse ..." onclick="document.getElementById('img').click();" />
                        <div class="imageupload-wrapper-outer"><span id="file-name">No image uploaded</span></div>      
                <br>
                <div style="float: right; margin-top: 9%; margin-right: 10%; margin-bottom: 30px;">
                    <input type="submit" value="Submit" class="submit-button" onclick="return checkPassword()">
                </div>
                
            </form>
        </div>
        <div id="register-right-subcontainer">
            <div id="registration-reminder">
            If you wish to participate in the 40-hour Basic</br>
            Pollution Control Officer Training offered by </br>
            Envia Consultancy, Inc., kindly accomplish this</br>
            registration form.</br></br>
            

            For payments, please make check payable to:</br></br></br>
            <b>Envia Consultancy, Inc. </b> </br>
            Checking Account No.: 0712-1042-79</br>
            Landbank of the Philippines</br>
            Sugar Regulatory Administration Bldg.</br>
            North Avenue, Diliman, Quezon City</br>
        </br></br></br>
            Once payment has been made, please attach a </br>
            scanned copy of the deposit slip in this form</br>
            for validation. Please wait for a confirmation </br>
            e-mail once registration is successful.</br>
            </div>
        </div>
    </div>
    
</div>